body, html {
	height: 100%;
}

.nav-wrapper {
	padding-left: 20px;
}

.master_container {
	margin-bottom: 0px;
}

.master_container {
	height: calc(100vh - 64px);

	.filter_container {
		height: 100%;
		background-color: white;
		padding: 30px;

		.filters {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: solid lightgrey 2px;

			.switch {
				margin-top: 10px;
			}
		}

	}

	.map_container {
		height: 100%;
		background-color: #eee;
		background: url("../images/map.png") no-repeat right;
		background-size: cover;
	}
}

.room_number {
	float: left;
}

.room_time {
	float: right;
}
